.myBtn {
  background: transparent;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  outline: none;
  color: #fff;
  cursor: pointer;
  transition: all 0.3s;
  font-size: 20px;
}
.myBtn:hover {
  transition: all 0.3s;
  transform: scale(1.09);
  box-shadow: 3px 4px 20px 4px rgba(0, 0, 0, 0.5);
  background-color: rgba(95, 158, 160, 0.644);
}
